{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.0"}
  lambdaisland/data-printers {:mvn/version "0.7.47"}}

 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://clojars.org/repo"}
  "my.datomic.com" {:url "https://my.datomic.com/repo"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]}

  :portal
  {:extra-deps {djblue/portal {:mvn/version "0.22.1"}}}

  :clerk
  {:extra-paths ["notebooks"]
   :extra-deps {io.github.nextjournal/clerk {:mvn/version "0.6.387"}}}

  :jdbc
  {:extra-deps {com.github.seancorfield/next.jdbc {:mvn/version "1.2.772"}
                camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
                inflections/inflections {:mvn/version "0.13.2"}
                com.h2database/h2 {:mvn/version "2.1.210"}}}

  :cljs
  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.4"}
                thheller/shadow-cljs {:mvn/version "2.17.8"}}}

  :spec
  {:extra-deps {org.clojure/spec.alpha {:mvn/version "0.3.218"}}}

  :malli
  {:extra-deps {metosin/malli {:mvn/version "0.8.4"}}}

  :datomic-pro
  {:extra-deps {com.datomic/datomic-pro {:mvn/version "1.0.6316"}}}

  :datomic-cloud
  {:extra-deps {com.datomic/client-cloud {:mvn/version "1.0.119"}}}

  :datomic-free
  {:extra-deps  {com.datomic/datomic-free {:mvn/version "0.9.5697"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:local/root "/home/arne/github/lambdaisland/kaocha"}#_{:mvn/version "1.64.1010"}}}}}
